* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../img/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center;
}

header h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-family: "Open Sans", Helvetica, Arial, Sans-serif;
    text-shadow: 2px 2px #000;
}

header p {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
    text-align: center;
}